<h2><%= @page_header %></h2>

<% @memes.each do |meme| %>
	<div id="vids">
		<h2><a href="/memes/<%= meme.id %>"><%= meme.title %></a></h2>
		<p><%= meme.description %></p>
		<p><strong><a href="<%= meme.url %>">Full Screen Link</a></strong></p>
	
		<p>Genre: <%= meme.genre %></p>

		<p><a href="/memes/<%= meme.id %>">Watch Video</a></p>
		<p><a href="/memes/<%= meme.id%>/edit">Edit Video Info</a></p>

		<form action="/memes/<%= meme.id %>" method="POST">
			<input type= "hidden" name="_method" value="Delete">
			<input type="submit" value="Delete">
		</form>
		<br>
	</div>
	<br>
<% end %>